/*分割线样式*/
.hr{
    height:2px;
    margin:10px 0 10px 0;
    background:rgba(232,232,232,.9);
}
.footer{
    font-weight: 500;
    color: rgba(0,0,0,.5);
    margin-bottom: 2rem;
}
.footer h6{
    margin: 0 0 -0.2rem 0;
}
.footer h6, .footer span{
    font-size: .75rem;
}
.footer #projectInfoBlock{
    padding: 0 0 0 2rem;
}
.footer #projectInfoBlock, .footer #aboutUsBlock{
    margin-top: 1rem;
}
/*.footer #aboutUsBlock{*/

/*}*/
.footer img{
    width: 30px;
}
.footer a{
    color: rgba(0,0,0,.5);
}
.disappear{
    display: none;
}